@layer base {
  html {
    @apply scroll-smooth;
  }

  .site {
    @apply flex flex-col min-h-screen;

    &-main {
      @apply flex-grow;
    }
  }

  body {
    @apply selection:text-white selection:bg-blue-1;
  }

  img {
    @apply max-w-full;
  }

  svg {
    @apply w-full h-auto max-w-full;
  }

  pre {
    @apply p-2 text-gray-800 bg-gray-100 rounded-lg;
  }

  hr {
    @apply my-6;
  }

  [x-cloak] {
    @apply !hidden;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .sr-only {
    @apply p-2 text-white bg-black;
  }
}

.full-width-image .scroll-image {
  @apply h-[250px] md:h-[350px] lg:h-[400px] w-auto;
  svg,
  img,
  picture,
  object,
  embed {
    @apply h-[250px] md:h-[350px] lg:h-[400px] w-auto;
  }
}
