@layer components {
  button {
    @apply cursor-pointer;
    @apply transition duration-300 cursor-pointer ease-in-out;

    &:focus-visible {
      outline: thin dotted theme(colors.gray.500);
    }
  }

  .button {
    @apply inline-flex z-0 text-center overflow-hidden items-center gap-2.5 px-[18px] pt-[14px] pb-[15px];
    @apply rounded-md;
    @apply text-[14px] leading-none font-bold;
    @apply relative;
    @apply transition duration-200 cursor-pointer ease-in-out delay-100;
    @apply bg-orange-2 text-white !no-underline;

    &:focus {
      outline: none;
    }

    svg {
      @apply w-4 h-4 block;
    }

    &:before {
      content: '';
      @apply absolute z-[-1] bg-blue-2 rounded-md top-1/2 left-0 -translate-y-1/2 w-full h-[120%] block -translate-x-full transition-all duration-300 ease-in-out;
    }

    &:hover {
      @apply text-white bg-blue-2 before:translate-x-0;
    }

    &-blue {
      @apply button;
      @apply text-white bg-blue-2 before:bg-orange-2;
      &:hover {
        @apply text-white bg-orange-2;
      }
    }

    &-white {
      @apply button;
      @apply text-orange-2 bg-white before:bg-orange-2;
      &:hover {
        @apply text-white bg-orange-2;
      }
    }

    &-blue-outline {
      @apply button;
      @apply border-blue-2 text-blue-2 border-2 bg-transparent before:bg-blue-2;
      &:hover {
        @apply text-white bg-blue-2;
      }
    }

    &-white-outline {
      @apply button;
      @apply border-white text-white border-2 bg-transparent before:bg-orange-2;
      &:hover {
        @apply text-white bg-orange-2;
      }
    }

    &-outline {
      @apply button;
      @apply border-orange-2 text-orange-2 border-2 bg-transparent before:bg-orange-2;
      &:hover {
        @apply text-white bg-orange-2;
      }
    }
  }
}
